<div class="row no-gutters">
  <div class="col no-gutters">
    <app-card cardTitle="Folders" [options]="false">
      <div>
        <app-files></app-files>
      </div>
    </app-card>
  </div>
  <div class="col no-gutters" style="height: 100%;width:70%;">
    <form [formGroup]="PassForm" class="form">
      <app-card cardTitle="Form" [options]="false">
        <table class="t1">
          <tr>
            <td><label>Login:</label></td>
            <td align="right" colspan="2"><input type="text" formControlName="Login"
                class="form-control ng-dirty ng-valid ng-touched"></td>
          </tr>
          <tr>
            <td><label>Password:</label></td>
            <td align="right" colspan="2"><input type="text" formControlName="Password"
                class="form-control"></td>
          </tr>
          <tr>
            <td colspan="2">
              <label>WebSites :</label>
            </td>
            <td>
              <button class="btn btn-secondary" style="width:100%;" (click)="InsertPass()">Add Password</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <select  class="form-control" style="width:100%" formControlName="Website">
                <option [ngValue]="null" disabled>Choose your profile</option>
                <option *ngFor="let ti of t" [ngValue]="ti">
                  {{ ti.Name }}
                </option>
              </select>
            </td>
            <td>
              <button class="btn btn-secondary" style="width:100%;">Edit Password</button>
            </td>
          </tr>
          <tr>
            <td>
              <br />
              <label>Roles :</label>
            </td>

            <td align="right">
              <button class="btn btn-secondary  btn-sm">+</button>
            </td>
            <td>
              <button class="btn btn-secondary" style="width:100%;">Delete Password</button>
            </td>
          </tr>
          <tr>
            <td colspan="3" rowspan="3">
              <div id="table-wrapper">
                <table id="Role-manager-table" class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Role</th>
                      <th align="Center"></th>
                    </tr>
                    <tr>
                      <td>Shared</td>
                      <td align="Center"><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>Personal</td>
                      <td align="Center"><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>system-welcome.exe</td>
                      <td align="Center"><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td>system-welcome.exe</td>
                      <td align="Center"><input type="checkbox"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </table>
        <br />
      </app-card>
    </form>
  </div>
</div>
