<div class="row no-gutters" style="height: 100%;display:flex;flex-direction: row;">
  <div class="col no-gutters" style="display: flex;">
    <app-card cardTitle="Folders" [options]="false" style="display: flex;
    flex: 1;">
      <div>
        <app-files [fileElements]="fileElements | async" [path]="currentPath" [canNavigateUp]="canNavigateUp"
          (folderAdded)="addFolder($event)" (elementRemoved)="removeElement($event)"
          (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()"
          (elementRenamed)="renameElement($event)" (elementMoved)="moveElement($event)" (fill)="FillFields($event)">
        </app-files>
      </div>
    </app-card>
  </div>
  <div class="col no-gutters" style="height: 100%;width:70%;">
    <form [formGroup]="PassForm" class="form">
      <app-card cardTitle="Form" [options]="false">
        <table class="t1">
          <tr>
            <td><label>Login:</label></td>
            <td align="right" colspan="2">
              <div class="input-group mb-4">
                <input type="text" formControlName="Login" class="form-control ng-dirty ng-valid ng-touched"
                  #LoginInput>
                <div class="input-group-prepend">
                  <button class="btn btn-secondary" type="button" (click)="copyInputMessage(LoginInput)">copy</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Password:</label></td>
            <td align="right" colspan="2">
              <div class="input-group mb-4">
                <input type="text" formControlName="Password" class="form-control ng-dirty ng-valid ng-touched"
                  #PasswordInput>
                <div class="input-group-prepend">
                  <button class="btn btn-secondary" type="button"
                    (click)="copyInputMessage(PasswordInput)">copy</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label>WebSites :</label>
            </td>
            <td>
              <button class="btn btn-secondary" style="width:100%;" (click)="InsertPass()" id="addBtn">Add
                Password</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <select required class="form-control" style="width:100%" formControlName="Website">
                <option value="" disabled selected hidden>Choose the wbesite</option>
                <option *ngFor="let ti of t" [ngValue]="ti">
                  {{ ti.Name }}
                </option>
              </select>
            </td>
            <td>
              <button class="btn btn-secondary" style="width:100%;" (click)="UpdatePass()" id="editBtn" disabled>Edit
                Password</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <br />
              <label>Groupes :</label>
            </td>
            <td>
              <button class="btn btn-secondary" style="width:100%;" id="ConnectBtn" (click)="openNewTab()"
                disabled>Connect</button>
            </td>
          </tr>
          <tr>
            <td colspan="3" rowspan="3">
              <div id="table-wrapper">
                <table id="Role-manager-table" class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Groupe</th>
                      <th align="Center"></th>
                    </tr>
                    <tr *ngFor="let gg of g">
                      <td>{{gg.Name}}</td>
                      <td><input type="checkbox" id="{{gg.Id}}" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </table>
        <br />
      </app-card>
    </form>
  </div>
</div>
